* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(80, 80, 80);
}

#nav--primary {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

#nav--primary li:hover{
    text-decoration: underline;
}

#nav--primary a {
    text-decoration: none;
}

.ul--nav-left {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.ul--nav-right {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#apps-btn {
    padding: 0;
    margin: 0;
}

#apps-btn img {
    height: 30px;
    width: 30px;
}

#apps-btn:hover {
    border: solid rgb(230, 239, 230);
    background-color: rgb(230, 230, 230);
    border-radius: 50px;
}

#sign-in-btn {
    background-color: #0b57d0;
    border: solid #0b57d0;
    border-radius: 50px;
    padding: 10px;
}

#sign-in-btn a {
    color: white;
}

#sign-in-btn:hover {
    color: white;
    text-decoration: underline;
    box-shadow: 2px 2px rgb(180, 180, 180);
}

#main--primary {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
}

#google-logo {
    width: 250px;
    height: auto;
    padding: 15px;
}

#google-img-logo {
    width: 250px;
    height: auto;
    padding: 15px;
}

#search-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#searchbar, textarea {
    background-image: url(search_16dp_434343_FILL1_wght400_GRAD0_opsz20.png);
    background-size: 25px;
    background-position: 10px;
    background-repeat: no-repeat;
    font-size: 18px;
    width: 600px;
    height: 50px;
    border: solid rgb(228, 228, 228) 1px;
    border-radius: 50px;
    padding-left: 35px;
    outline: none;
}

#searchbar:hover {
    box-shadow: 2px 2px rgb(180, 180, 180);
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.search-btn {
    background-color: rgb(228, 228, 228);
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
}

.search-btn:hover {
    border: solid rgb(180, 180, 180);
}

#footer--primary {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(228, 228, 228);
}

#footer--primary li:hover{
    text-decoration: underline;
}

.ul--footer-left {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.ul--footer-right {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#main--primary-advanced {
    padding-left: 45px;
    padding-top: 15px;
}

#adv--search-head {
    color: red;
    font-size: 20px;
    padding-bottom: 50px;
}

#find-wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#find-area {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#search-area-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#empty-head {
    margin-bottom: 20px;
}

#search-area-find {
    display: flex;
    flex-direction: column;
    gap: 18px;
    top: 50px;
}

.advanced-searchbar {
    width: 600px;
}

#num-start {
    width: 289px;
}

#num-end {
    width: 289px;
}

#adv--search-btn {
    color: white;
    font-size: 12px;
    width: 120px;
    height: 30px;
    background-color: #0b57d0;
    border: none;
}

#adv--search-btn:hover {
    background-color: #5f8ace;
}

#search-area-find-labels {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-top: 2px;
}

#to-do-wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#to-do {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#to-do p {
    font-size: 12px;
}